<h1>Editing Perguntas Assessjur2</h1>

<%= render 'form', perguntas_assessjur2: @perguntas_assessjur2 %>

<%= link_to 'Show', @perguntas_assessjur2 %> |
<%= link_to 'Back', perguntas_assessjur2s_path %>
